    <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Realxdeal Task2</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--link href="/static/css/scrolling-nav.css" rel="stylesheet"-->
    <link href="/static/css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Upload Section -->
    <!-- FIX UPLOAD BUTTON -->
    <section id="upload" class="upload-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>File Upload</h1>

                        <form action = "http://localhost:5000/results" method = "POST" enctype = "multipart/form-data">
                            <!--input type = "file" name = "file" /-->
                            <!--input type = "submit"/-->
                            <label class="custom-file">
                            <input type="file" id="file" name = "file" class="custom-file-input">
                            <span class="custom-file-control"></span>
                            </label>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>


                        <form class="form-inline center-block" action="http://localhost:5000/results" method="POST" enctype="multipart/form-data">
                            <div class="input-group">
                                <label id="browsebutton" class="btn btn-default input-group-addon" for="my-file-selector" style="background-color:white">
                                    <input id="my-file-selector" style="display:none;" type="file" name='file'>
                                    Browse...
                                </label>
                                    <input class="form-control" readonly="" type="text">
                            </div>
                                <button type="submit" class="btn btn-primary">Upload</button>
                        </form>


                        <!--a class="btn btn-default" href="http://localhost:5000/results">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"   ></span> Click to upload your tsv-file</a-->


                </div>
            </div>
        </div>
    </section>

</body>

</html>
